/zipkin-node/target/
/reporter-node/target/
/frontend-node/target/
/airlines-web/target/
/micro-web/target/
/admin-node/target/
/jsf-hystrix-fallback-master/jsf-hystrix/target/
/jsf-hystrix/target/
/zipkinnode/target/
/adminnode/target/
/frontendnode/target/